<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Ionic List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let mission of missionData" detail="true" lines="full" [routerLink]="'/mission/' + mission.id" routerDirection="forward">
      <ion-thumbnail slot="start">
        <img src="assets/patches/{{mission.missionPatch}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{mission.missionName}}</h2>
        <p>{{mission.missionDuration}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
