<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Badges
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" color="medium" name="mail"></ion-icon>
        <ion-label>Primary</ion-label>
        <ion-badge color="primary">10+</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="people"></ion-icon>
        <ion-label>Social</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="pricetag"></ion-icon>
        <ion-label>Promotions</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
