<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Buttons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
 
    <ion-button>Default</ion-button>

    <ion-button fill="solid">Solid</ion-button>
    <ion-button fill="clear">Clear</ion-button>
    <ion-button fill="outline">Outline</ion-button>

    <ion-button expand="block">Block</ion-button>
    <ion-button expand="full">Full</ion-button>

    <ion-button><ion-icon name="star" slot="icon-only"></ion-icon></ion-button>
  </div>
</ion-content>
