<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Spinner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="trailHero">
    <img src="assets/halfdome.jpg">
    <h2>Half Dome</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col text-nowrap>
        <ion-icon name="walk"></ion-icon>
        14.8 mi
      </ion-col>
      <ion-col text-nowrap>
        <ion-icon name="trending-up"></ion-icon>
        5,164 ft
      </ion-col>
      <ion-col text-nowrap>
        <ion-icon name="swap"></ion-icon>
        Out and Back
      </ion-col>
    </ion-row>
  </ion-grid>

  <p padding-horizontal>Half Dome is a serious endurance hike taking visitors from the Yosemite Valley, past
    spectacular views of Vernal and Nevada Falls, Liberty Cap, until you reach the summit with its panoramic views of
    Yosemite Valley and the High Sierra.</p>

  <div padding>
    <div id="mapLoader" *ngIf="isMapLoaded == false">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div id="map" *ngIf="isMapLoaded == true">
      <img src="assets/map.jpg">
    </div>
  </div>
</ion-content>