<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Fab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" color="medium" name="mail"></ion-icon>
      <ion-label>Primary</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="people"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="pricetag"></ion-icon>
      <ion-label>Promotions</ion-label>
    </ion-item>

  </ion-list>
  <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>